* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

$black: #4A4A4A;
$white: #FFFFFF;
$pink: #EBAAAE;
$blue: #59D9CC;
$orange: #FF8741;

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.productSection {
    background-color: $pink;
    margin-top: 10px;
}

.filters {
    background-color: $blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.product {
    display: block;
    width: 629px;
    height: 629px;
    text-decoration: none;

    &__image{
      width: 100%; 
      object-fit: contain;
    }

    &__name{
        color: $black;
        position: absolute;   
        padding: 20px;
 
    }

    &__tag{
        background-color: $blue;
        color: $black;
        padding: 5px 10px;
        font-size: .9em;
        position: absolute;
        border-radius: 10px;

    }

    &__price {
        color: $black;
        position: absolute;

    }

    
    &__car {
        background-color: $orange;
        color: $white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: absolute;

        &:disabled{
            background-color: #FFBF9A;
            color: rgba(255, 255, 255, 0.6);;
        }
    }

}