* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.auth.hidden {
  display: none;
}

#logOut {
  display: none;
}

#logOut.visible {
  display: block;
}

:root {
  --swiper-theme-color: $orange !important;
}

.swiper h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  margin: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 890px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 2%;
}

.filters {
  background-color: #59D9CC;
  margin-top: -1%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A4A4A;
  font-size: 2em;
}

.menu {
  position: fixed;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100px;
  z-index: 8;
}

.menu__borde {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
  width: 100%;
  z-index: 3;
}

.menu__borde img {
  width: 100%;
}

.menu__banner img {
  position: relative;
  margin-left: 5%;
  top: 0px;
  bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 8;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__ul {
  margin-left: 25%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  top: 51px;
  z-index: 8;
}

.menu__item {
  list-style: none;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.menu__item a {
  position: relative;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
  font-size: 1.5em;
  color: #59D9CC;
}

.menu__drop {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 10px;
  width: 180px;
  display: none;
  list-style: none;
  text-decoration: none;
}

.menu__list {
  list-style: none;
}

.menu__list:hover .menu__drop {
  display: block;
  position: absolute;
}

.productSection {
  background-color: #59D9CC;
  margin-top: 10px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  display: block;
  width: 33%;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__description {
  position: absolute;
  bottom: 10px;
  margin: 0px;
  width: 80%;
}

.product__tag {
  background-color: #FFE24A;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.product__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__price {
  background-color: #EBAAAE;
  color: #FFFFFF;
  text-align: left;
  margin: 5px;
  padding: 6px;
  text-align: left;
  border-radius: 10px;
  text-shadow: 4px 3px 4px rgba(63, 63, 63, 0.5);
}

.product__name {
  background-color: #EBAAAE;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  text-shadow: 4px 3px 4px rgba(63, 63, 63, 0.5);
}

.product__car {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: large;
  background-color: #FF8741;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.product__car:disabled {
  background-color: #FFBF9A;
  color: rgba(255, 255, 255, 0.6);
}

.rectangle {
  width: 479px;
  height: 15px;
  margin-top: 5%;
  background: #FF8741;
  border-radius: 21px;
}

.product__items {
  width: 100%;
  background-color: #59D9CC;
  margin: 0 auto;
  padding-top: 15%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product__mainImage {
  width: 70%;
  border: none;
}

.product__descriptionMini {
  width: 50%;
}

.product__paragraph {
  color: #4A4A4A;
  font-size: 2em;
}

.product__sirve {
  font-size: 3em;
  padding-top: 15%;
  color: #4A4A4A;
}

.product__para {
  font-size: 2em;
  color: #4A4A4A;
  padding-top: 3%;
}

.product__names {
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 4em;
}

.product__prices {
  color: #4A4A4A;
  padding-top: 6%;
  font-size: 3em;
}

.product__addToCar {
  background-color: #FF8741;
  color: #FFFFFF;
  padding: 12px 25px;
  border-radius: 8px;
}

.register {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #59D9CC;
}

.register #register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register #register__form h1 {
  color: #4A4A4A;
  padding: 10px;
  font-size: 3em;
}

.register #register__form input[type=text] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.register #register__form input[type=password] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.register #register__form input[type=email] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.register #register__form input[type=submit] {
  font-size: 1.8em;
  background-color: #FF8741;
  color: #FFFFFF;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.register__imagen {
  width: 60%;
  margin: 0;
}

.ingresar {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #59D9CC;
}

.ingresar #ingresar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ingresar #ingresar__form h1 {
  color: #4A4A4A;
  padding: 10px;
  font-size: 3em;
}

.ingresar #ingresar__form input[type=text] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ingresar #ingresar__form input[type=password] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ingresar #ingresar__form input[type=email] {
  background-color: #59D9CC;
  font-size: 1.5em;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ingresar #ingresar__form input[type=submit] {
  font-size: 1.8em;
  background-color: #FF8741;
  color: #FFFFFF;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ingresar #ingresar__form a {
  font-size: 1.5em;
  padding: 10px;
}

.ingresar__imagen {
  width: 60%;
  margin: 0;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #59D9CC;
  color: #4A4A4A;
}

.footer__background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 95vmin;
}

.footer__background img {
  width: 100%;
}

.footer__banner {
  position: relative;
  margin: 20% 5% 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__contact-text {
  margin-top: 2%;
  list-style: none;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  color: #4A4A4A;
}
/*# sourceMappingURL=style.css.map */