* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

.options {
    font-family: 'Anton', sans-serif;
}

.title { 
    font-family: 'Anton', sans-serif;
    color: white;
}

.sub_title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.titles_ca {
    font-family: 'Anton', sans-serif;

}

.text_ca {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

h2{
    font-family: 'Anton', sans-serif;
    color: #4A4A4A;
    font-size: 2.25em;
    font-weight: 400;
}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #4A4A4A;
    font-size: 1.5em;
    font-weight: 300;
}


.menu {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 6.25em;
    z-index: 8;
}

.menu__borde{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    width: 100%;
    z-index: 6;
}

.menu__logo{
    position: fixed;
    margin-left: 5%;
    top: 0px;
    bottom: 0px;
    align-items: center;
    z-index: 10;
    object-fit: cover;
    z-index: 8;
}

.menu__ul{
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 51px;
    z-index: 8;
}

.menu__item{
    list-style: none;
    padding-left: 5em;
    padding-right: 5em;
}

.menu__item a {
    position: relative;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #59D9CC;
    
}

.menu__drop {
    position: absolute;
    background-color: white;
    display: none;
    list-style: none;
    text-decoration: none;

}

.menu__list:hover .menu__drop {
    display: block;

}

.menu__list {
    list-style: none;

}

.content {
    width: 1440px;
    height: 920px;
}

.content img {
    width: 100%;
    height: 920px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    object-fit: cover;
}

.content__items-text h2{
    width: 500px;
    height: 127px;
    left: 150px;
    top: 300px;
    text-align: center;

    text-transform: uppercase;
    position: absolute;
    font-family: Anton;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 4em;
    line-height: 100.7%;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.content__items-text p {
    width: 500px;
    height: 39px;
    left: 150px;
    top: 440px;
    text-align: center;

    position: absolute;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-weight: 300;

    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: 2.25em;
    align-items: center;
    line-height: 90.7%;
    justify-content: center;
    z-index: 6;
}


.content__items-text a {
    left: 300px;
    top: 500px;
    width: 150px;
    height: 44px;
    border-radius: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-transform: uppercase;

    background-color: coral;
    color: white;
    text-decoration: none;
    z-index: 6;
    font-size: 24px;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding-top: 10px;
}

.banner__background{
    position: absolute;
}
.banner__background img{
    position:relative;
    top: -150px;
}

.caracteristics {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.caracteristics__list{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.caracteristics__item{
    margin: 2%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.caracteristics__item-img{
    width: 248.97px;
    height: 248.97px;
}

.caracteristics__item p{
    text-align: center;
}

.news{
    position:relative;
}

.images_news{
    margin-top: 4em;
    margin: 2em;
    padding-top: 5em;
}