* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

.options {
    font-family: 'Anton', sans-serif;
}

.title { 
    font-family: 'Anton', sans-serif;
    color: white;
}

.sub_title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.titles_ca {
    font-family: 'Anton', sans-serif;

}

.text_ca {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

h1{
    font-family: 'Anton', sans-serif;
    color: #4A4A4A;
    font-size: 4em;
    font-weight: 400;
}

h3{
    font-family: 'Anton', sans-serif;
    color: #4A4A4A;
    font-size: 2.25em;
    font-weight: 400;
}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #4A4A4A;
    font-size: 1.5em;
    font-weight: 300;
}

a{
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.menu {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 6.25em;
    z-index: 8;
}

.menu__borde{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    width: 100%;
    z-index: 3;
}

.menu__logo{
    position:relative;
    margin-left: 5%;
    top: 0px;
    bottom: 0px;
    align-items: center;
    z-index: 8;
    object-fit: cover;
}

.menu__ul{
    margin-left: 20%;
    margin-right: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 51px;
    z-index: 8;
}

.menu__item{
    list-style: none;
    padding-left: 5em;
    padding-right: 5em;
}

.menu__item a {
    position: relative;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    color: #59D9CC;
    
}

.menu__drop {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 10px;
    width: 180px;
    display: none;
    list-style: none;
    text-decoration: none;

}

.menu__list:hover .menu__drop {
    display: block;
    position: absolute;

}

.menu__list {
    list-style: none;

}

.content {
    width: 100%;
    height: 920px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5em;
    text-align: center;
}

.content img {
    width: 100%;
    height: 920px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    object-fit: cover;
}

.content__items-text {
    width: 50%;
    display: flex;
    top: 50%;
    flex-direction: column;
    position: absolute;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.content__items-text h2{
    text-transform: uppercase;
    font-family: Anton;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 4em;
    line-height: 100.7%;
    letter-spacing: 1px;
    z-index: 6;
}

.content__items-text p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgb(0 0 0 / 25%);
    font-size: 2.25em;
    line-height: 90.7%;
    z-index: 6;
}


.content__items-text a {
    width: 150px;
    height: 44px;
    border-radius: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    background-color: coral;
    color: white;
    text-decoration: none;
    z-index: 6;
    font-size: 1.5em;
    padding-top: 10px;
}

.banner__background{
    position: absolute;
}
.banner__background img{
    position:relative;
    top: -150px;
}

.caracteristics {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5em;
}

.caracteristics__list{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.caracteristics__item{
    margin: 2%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.caracteristics__item-img{
    width: 248.97px;
    height: 248.97px;
}

.caracteristics__item h3 {
    text-align: center;
}

.caracteristics__item p{
    text-align: center;
}

.news{
    position:relative;
}

.news__sandwich{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 2%;
}

.news__sandwich-img{
    position: relative;
    top: -50px;
    left:50px;
    width: 523px;
    height: 552px;
}

.news__sandwich-card, .news__tonkichi-card{
    border-radius:10px;
    background-color: white;
    font-family: 'Anton';
    color: #4A4A4A;
    width:704px;
    height:300px;
    margin: 5%;
}
.news__sandwich-card p, h2, a{
    margin: 5%;
}

.news__sandwich-card a, .news__tonkichi-card a{
    color: white;
    background-color: coral;
    padding: 10px 20px 10px 20px;
    width: 150px;
    height: 44px;
    border-radius: 10px;
}

.news__tonkichi-card p, h2, a{
    margin: 5%;
}

.news__tonkichi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 2%;
}

.news__tonkichi-img{
    position: relative;
    top: -50px;
    right:50px;
}

.galery {
    height: 1300px;
}

.galery a {
    font-size: 1.25em;
    text-decoration: underline;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #4A4A4A;
}

.galery label {
    font-family: Yanone Kaffeesatz;
    font-weight: 300;
    font-size: 1.5em;
    color: #4A4A4A;
}

.galery__background{
    position: absolute;
}

.galery__background img{
    position:relative;
    top: -150px;
}

.galery__images{
    position: relative;
    display: flex;
    justify-content: row;
    top: 15em;
    padding-top: 5em;
}


.footer__background{
    position: absolute;
}

.footer__background img{
    position:absolute;
    top: -150px;
}

.footer__banner{
    position: relative;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.footer__contact-text{
    margin-top: 2%;
    list-style: none;
    font-size: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    color: #4A4A4A;
}


