@media all and (max-width: 1051px) {
    .menu__banner {
        width: 100%;
    } 
    .menu__ul{
        align-content: center;
        margin-left: 30%;
        flex-wrap: wrap;
    }
    .content {
        width: 100%;
    }

    .caracteristics{ 
        width: 100%;
    }
    .caracteristics__item-img {
        width: 177.44px;
        height: 177.44px;
    }
    p {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #4A4A4A;
        font-size: 1.2em;
        font-weight: 300;
    }
    .news__sandwich-img {
        position: relative;
        top: -50px;
        left: 50px;
        width: 473px;
        height: 496.33px;
    }

    .news__sandwich-card, .news__tonkichi-card {
        border-radius: 10px;
        background-color: white;
        font-family: 'Anton';
        color: #4A4A4A;
        width: 700px;
        height: 350px;
        margin: 5%;
    }
    .content__items-text{
        top: 40%;
        width: 100%;
    }
}

@media all and (max-width: 550px){

    .menu{
        height: 30px;
    }
    
    .menu__borde {
        margin-top: 5%;
    }

    .menu__ul {
        display: none;
    }

    .menu__banner img{
        width: 87.21px;
        height: 74px;
    }

    .menu__logo {
        margin-left: 2%;
    }
    .content {
        width: 100%;
    }

    .content__items-text{
        top: 40%;
        width: 100%;
    }

    .content__items-text h2{
        font-size: 2em;
    }
    .content__items-text p{
        font-size: 1.2em;
    }

    .content__items-text a {
        width: 86px;
        height: 25.23px;
        font-size: 0.8em;
        border-radius: 4.82px;
    }

    .content img {
        height: 500px;
        margin-top: 5%;
    }

    .caracteristics {
        width: 100%;
        flex-direction: column;
    }

    .caracteristics__item {
        flex-direction: column;
    } 

    .caracteristics__item-img{
        width: 50px;
        height: 50px;
    }

    .caracteristics__item h3{
        font-size: 10px;
    }

   
}

@media all and (min-width: 1440px){
    .menu__banner img {
        width: 198px;
        height: 168px;
    }
    
}